<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>Relativo ao path dos produtos</description>
        <param-name>produtosImagemPath</param-name>
        <param-value>img/produto/</param-value>
    </context-param>
    <servlet>
        <servlet-name>ControleServlet</servlet-name>
        <servlet-class>br.com.discada.controller.ControleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleServletPainel</servlet-name>
        <servlet-class>br.com.discada.controller.ControleServletPainel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GraficoServlet</servlet-name>
        <servlet-class>br.com.discada.controller.GraficoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleServlet</servlet-name>
        <url-pattern>/addAcesso</url-pattern>
        <url-pattern>/excluirCartao</url-pattern>
        <url-pattern>/paginaAgradecimento</url-pattern>
        <url-pattern>/addCart</url-pattern>
        <url-pattern>/paginaLogin</url-pattern>
        <url-pattern>/excluirEndereco</url-pattern>
        <url-pattern>/paginaFinalizaDois</url-pattern>
        <url-pattern>/cadastroP1</url-pattern>
        <url-pattern>/cadastroP2</url-pattern>
        <url-pattern>/cupomTroca</url-pattern>
        <url-pattern>/paginaFinaliza</url-pattern>
        <url-pattern>/editarEndereco</url-pattern>
        <url-pattern>/paginaCupom</url-pattern>
        <url-pattern>/addItem</url-pattern>
        <url-pattern>/paginaEndereco</url-pattern>
        <url-pattern>/paginaDadosPessoais</url-pattern>
        <url-pattern>/detalheItemPedido</url-pattern>
        <url-pattern>/paginaDadosPessoaisSenha</url-pattern>
        <url-pattern>/cadastroCartao</url-pattern>
        <url-pattern>/deslogar</url-pattern>
        <url-pattern>/paginaCompraLista</url-pattern>
        <url-pattern>/paginaHistoricoPedido</url-pattern>
        <url-pattern>/detalhePedido</url-pattern>
        <url-pattern>/paginaCartoes</url-pattern>
        <url-pattern>/paginaProduto</url-pattern>
        <url-pattern>/gerenciaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleServletPainel</servlet-name>
        <url-pattern>/editarItemPedido</url-pattern>
        <url-pattern>/error</url-pattern>
        <url-pattern>/relatorioVendaProduto</url-pattern>
        <url-pattern>/relatorioVendasGeral</url-pattern>
        <url-pattern>/controlePedidos</url-pattern>
        <url-pattern>/pesquisaVendasBean</url-pattern>
        <url-pattern>/addPostagem</url-pattern>
        <url-pattern>/loginAdm</url-pattern>
        <url-pattern>/pesquisaVendas</url-pattern>
        <url-pattern>/listarCupom</url-pattern>
        <url-pattern>/controleClientes</url-pattern>
        <url-pattern>/relatorioVendaCategoria</url-pattern>
        <url-pattern>/Painel</url-pattern>
        <url-pattern>/relatorioVendaData</url-pattern>
        <url-pattern>/pesquisaVendasMes</url-pattern>
        <url-pattern>/adicionarCupomTroca</url-pattern>
        <url-pattern>/editarCupom</url-pattern>
        <url-pattern>/adicionarCupomPromo</url-pattern>
        <url-pattern>/adicionarProduto</url-pattern>
        <url-pattern>/adicionarCategoria</url-pattern>
        <url-pattern>/consultaNomeProduto</url-pattern>
        <url-pattern>/editarCategoria</url-pattern>
        <url-pattern>/editarProduto</url-pattern>
        <url-pattern>/processaBusca</url-pattern>
        <url-pattern>/ControleServletPainel</url-pattern>
        <url-pattern>/consultaNomeCliente</url-pattern>
        <url-pattern>/detalheClientes</url-pattern>
        <url-pattern>/controleEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GraficoServlet</servlet-name>
        <url-pattern>/PaginaGrafico</url-pattern>
        <url-pattern>/PainelGrafico</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
    <jsp-config>
        <jsp-property-group>
            <description>header and footer settings</description>
            <url-pattern>/index.jsp</url-pattern>
            <url-pattern>/WEB-INF/views/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/header.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footer.jspf</include-coda>
        </jsp-property-group>
        <jsp-property-group>
            <description>cabeça </description>
            <url-pattern>/Discada/loginAdm.jsp</url-pattern>
            <url-pattern>/WEB-INF/viewsPainel/*</url-pattern>
            <include-prelude>/WEB-INF/jspf/headerPanel.jspf</include-prelude>
            <include-coda>/WEB-INF/jspf/footerPanel.jspf</include-coda>
        </jsp-property-group>
    </jsp-config>
</web-app>
